@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Source+Sans+Pro:wght@200;400;600&display=swap');
    
*{
        padding: 0px;
        margin: 0px;
        font-family: 'Louis george cafe', sans-serif;
    }
    input{ 
  width: 300px;
  height: 70px;
  border: 1px solid #dbdfea;
  font-family: 'Louis george cafe', sans-serif;
  border-top-color: white;
  border-left-color: white;
  border-right-color: white;
  outline:none;
}
    #top{
        display: flex;
        width: 100%;
        height: 600px;
        margin: auto;
        margin-top: 100px;
 }
    #left{
        margin: auto;
        text-align: center;
        width: 45%;
        height: 600px;
    }
    #right{
        margin: auto;
        text-align: center;
        width: 45%;
        height: 600px;
    }
    #left>img:first-child{
        width: 15%;
        height: 7%;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 40;
    }
    #left>img:nth-child(2){
        width: 35%;
        height: 35%;
        display: block;
       margin-top: 50px;
        margin: auto;
    }
    #left>p{
         text-align: left;
    }
    p{
       color: grey;
       margin-top: 20px;
       width: 90%;
       line-height: 24px;
       font-family: 'Louis george cafe', sans-serif;
       color: #a1a6af;
       font-size: 16px;
       font-style: normal;
       text-decoration: none;
       white-space: normal;
    }
    #form{
        padding: 41px;
        box-sizing: border-box;
       height: 500px;
       margin: auto;  
       width: 72%;
       border-radius: 19px;
       box-shadow: 1px 1px 18px 3px hsla(0, 0%, 92%, 0.6); 
       margin-top: 10px;
    }
    #btn{
        height: 50px;
        width: 300px;
        background-color: #fa824c;
        border-radius: 10px;
        color: white;
        font-size: 20px;
        margin-top: 20px;
        border: transparent;
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
        transform-style: preserve-3d;
    }
    #form>h2{
        width: 70%;
        margin: auto;
    }
    #top2{
        width: 60%;
        height: 400px;
        margin: auto;
        display: flex;
        margin-top: 120px;
        margin-bottom: 100px;
}
    #left1{
        width: 45%;
        height: 400px;
        margin: auto;
    }
    #right1{
       width: 45%;
        height: 400px;
        margin: auto;
    }
    .img1{
        width: 100%;
        height: 100%;
    }
    #symbol{
        height: 30px;
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        width: 80%;
   }
    symbol>img{
        width: 20%;
        height: 100%;
    }
    #top3{
        width: 60%;
        margin: auto;
    }
    .img2{
        width: 100%;
}
    #logo{
        width: 15px;
position: relative;
bottom: 76px;
left: -10px;
        }
   #top4{
    margin: auto;
    width: 60%;
    height: 200px;
    background-color: #f7f7f7;
    text-align: center;
    margin-top: 40px;
    border: 1px solid transparent;
    margin-bottom: 200px;
}
#top4>h1{
    margin-top: 40px;
}
  #btn:hover{
    animation: btn 800ms normal;
    }
#top5{
    width: 60%;
    height: 1200px;
    margin: auto;
    background-color:  #f7f7f7;
}
.div1{
    width: 100%;
    height: 300px;
    margin: auto;
    }
.div1{
  display: flex;
} 
#block2{
    width: 60%;
}
#block1{
    width: 40%;
    justify-content: left;
    font-family: Retroica, sans-serif;
    font-weight: 400;
    text-align: left;
  }
 #block1>h4{
    font-size: 18px;
    line-height: 24px;
    margin-top: 30px;
    margin-left: 15px;
    color: #333;
}
#block1>h1{
    line-height: 33px;
    margin-top: 10px;
    margin-left: 15px;
     color: #333;
}
#block2>img{
width: 90%;
height: 100%;
}
.div2{
    width: 100%;
    height: 300px;
    margin: auto;
    display: flex;
    margin-top: 100px;
    }
.div3{
    width: 100%;
    height: 300px;
    margin: auto;
    margin-top: 100px;
    display: flex;
}
#block11{
    width: 50%;
}
#block11>img{
width: 100%;
height: 100%;
}
#block22{
    width: 50%;
}
#block22>h1{
justify-content: center;
text-align: left;
width: 70%;
margin-left: 15px;
}
#block22>h4{
    line-height: 24px;
    margin-top: 10px;
    margin-left: 15px;
    color: #333;
    width: 70%;
    }
   #block111{
        width: 60%;
    }
    #block222{
        width: 40%;
    }
    #block111>h1{
        justify-content: center;
        text-align: left;
        width: 70%;
        margin-left: 15px;
        
        }
        #block111>h4{
            line-height: 24px;
            margin-top: 10px;
            margin-left: 15px;
            color: #333;
        width: 76%;
            }
       #block222>img{
                width: 90%;
                height: 100%;
                margin-right: 20px;
            }
        #top6{
            margin: auto;
            text-align: center;
            margin-top:80px ;
        }
        #top7{
            
             display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(300px);
            gap: 10px; 
            width: 60%;
            height: 600px;
            margin: auto;
            margin-top:30px ;
        }
        #top7>div{
            padding: 20px;
            border-radius: 18px;
            border: 1px solid #f4f6f8;
            background-color: rgba(255, 255, 255, 0.5);
        }
        #top7>div>img{
            width: 50px;
            height: 50px;
             }
        #top7>div:hover{
border:1px solid gray ;
        }
        #top7>div>img:hover{
            animation:image 800ms normal;
        } 
        @keyframes image {
            0%{transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)}
            25%{transform: translate3d(0px, 0px, 0px) scale3d(0.782535, 0.782535, 0.782535) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)}
            50%{transform: translate3d(0px, 0px, 0px) scale3d(0.99625, 0.99625, 0.99625) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);}
            75%{transform: translate3d(0px, 0px, 0px) scale3d(0.859321, 0.859321, 0.859321) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);}
            100%{transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);}
        }
    
    #top8{
width: 60%;
height: 300px;
margin: auto;
margin-top: 100px;
display: flex;
}
 #top8>div>img{
        width: 100%;
        height: 100%;
    }
    #top8>div{
background-color: #FFEECC;
width: 50%;
}
#top8>div>h3{
 padding: 100px 40px;
}
a{
text-decoration:none ;
}
#top9{
    margin: auto;
    width: 60%;
    margin-top:100px ;
    height: 200px;
    padding: 10px;
}
#top9>h1{
text-align: center;
justify-content: center;
}
#top9>p{
    text-align: center;
    justify-content: center;
    width: 100%;
    }
    #images{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows:100px;
        margin-top: 20px;
        gap: 30px;
}
   #images>div>img{
    height: 80%;
    width: 68%;}
#bottom{
    border: 1px solid transparent;
    width: 930px; 
margin: auto;
    height: 200px;
    background-color: #f7f7f7;
    text-align: center;
    margin-top: 40px;
}
 #bottom>h1{
    margin-top: 40px;
}
#end{
  width: 130px;  
  height: 50px;
  margin: auto;
  margin-top: 100px;
} 
#end>img{
    height: 100%;
    width: 100%;
}
#bottom:hover{
    animation:image 900ms normal;
} 
@keyframes image {
    0%{transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)}
    25%{transform: translate3d(0px, 0px, 0px) scale3d(0.782535, 0.782535, 0.782535) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)}
    50%{transform: translate3d(0px, 0px, 0px) scale3d(0.99625, 0.99625, 0.99625) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);}
    
}
#top4:hover{
    animation:image 900ms normal;
} 
@keyframes image {
    0%{transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)}
    25%{transform: translate3d(0px, 0px, 0px) scale3d(0.782535, 0.782535, 0.782535) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)}
    50%{transform: translate3d(0px, 0px, 0px) scale3d(0.99625, 0.99625, 0.99625) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);}
    
}

   

