@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Source+Sans+Pro:wght@200;400;600&display=swap');
    
    *{
        padding: 0px;
        margin: 0px;
        font-family: 'Louis george cafe', sans-serif;

    }
    input{ 
  width: 300px;
  height: 70px;
  border: 1px solid #dbdfea;
  font-family: 'Louis george cafe', sans-serif;
  border-top-color: white;
  border-left-color: white;
  border-right-color: white;
  outline:none;


  }
    #top{
        display: flex;
        width: 100%;
        height: 600px;
        margin: auto;
        margin-top: 100px;
 
    }
    #left{
        margin: auto;
        text-align: center;
        width: 45%;
        height: 600px;
    }
    #right{
        margin: auto;
        text-align: center;
        width: 45%;
        height: 600px;

    }
    #left>img:first-child{
        width: 15%;
        height: 7%;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 40;
    }
    #left>img:nth-child(2){
        width: 35%;
        height: 35%;
        display: block;
       margin-top: 50px;
        margin: auto;
    }
    #left>p{
         text-align: left;

    }
    p{
       color: grey;
       margin-top: 20px;
       width: 90%;
       line-height: 24px;
       font-family: 'Louis george cafe', sans-serif;
       color: #a1a6af;
       font-size: 16px;
       
       font-style: normal;
       /* text-align: left; */
       text-decoration: none;
       white-space: normal;
    }
    #form{
       height: 500px;
       margin: auto;  
       width: 80%;
       border-radius: 19px;
       box-shadow: 1px 1px 18px 3px hsla(0, 0%, 92%, 0.6); 
       margin-top: 10px;
    }
    #btn{
        height: 50px;
        width: 300px;
        background-color: #fa824c;
        border-radius: 6px;
        color: white;
        font-size: 18px;
        margin-top: 20px;
        border: transparent;
        cursor: pointer;
    }

    #form>h2{
        width: 70%;
        margin: auto;
    }
    /* ********************** */
    #top2{
        width: 60%;
        height: 400px;
        margin: auto;
        display: flex;
        margin-top: 120px;
        margin-bottom: 100px;

    }
    #left1{
        width: 45%;
        height: 400px;
        margin: auto;
    }
    #right1{
       width: 45%;
        height: 400px;
        margin: auto;
    }
    .img1{
        width: 100%;
        height: 100%;
        ;
    }
    #symbol{
        
        height: 30px;
        border: 1px red;
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
width: 80%;

    }
    symbol>img{
        width: 20%;
        height: 100%;
    }
    #locsym{
        height: 4%;
        width: 4%;
       
    }
    /* *************************** */
    #top3{
        width: 60%;
        margin: auto;
    }
    .img2{
        width: 100%;

    }
    #logo{
        width: 15px;
position: relative;
bottom: 76px;
left: -10px;
        
    }
    /* ************************** */
    #top4{
        margin: auto;
        width: 60%;
        height: 200px;
        background-color: #f7f7f7;
        text-align: center;
        margin-top: 40px;
        border: 1px solid transparent;
        margin-bottom: 200px;
    }
    #top4>h1{
        margin-top: 40px;

    }
    #btn:hover{
        animation:button 1s normal;
    }
    @keyframes button {
        0%{transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)}
        50%{transform: translate3d(0px, 0px, 0px) scale3d(0.84323, 0.84323, 0.84323) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)}
        100%{transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);}
    }
   
/* ******************************** */
   