@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    padding: 0;
    margin: 0;
}
#logo img{
    width: 220px;
}
#logo{
    padding: 22px 38px;
}
#header{
    margin-top: -13px;
    line-height: 44px;
    text-align: center;
    border: 1px solid transparent;
}
#header h1{
    font-family: 'Source Sans Pro', sans-serif;
}
#header p{
    font-family: "Lato","Helvetica Neue",Arial,Helvetica,sans-serif;
}
*::selection{
background-color: #ffeecc;
}
#location{
    width: 69%;
    gap: 33px;
    display: flex;
    border: 1px solid transparent;
    margin: auto;
    margin: 22px auto;
}
#search{
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 11px;
}
#address{
    padding: 16px 10px;
    border-radius: 6px;
    width: 450px;
    border: none;
    font-size: 17px;
    background: #f2f2f2;
    outline: none;
}
h4{
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: "Lato","Helvetica Neue",Arial,Helvetica,sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
}
#box{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 21px;
}
#type{
    border: 1px solid #d8d8d8;
    width: 202px;
    color: #d8d8d8;
    display: flex;
    cursor: pointer;
    padding: 11px 12px;
    border-radius: 5px;
    align-items: center;
    font-family: "Lato","Helvetica Neue",Arial,Helvetica,sans-serif;

}
.fa-caret-down{
    position: absolute;
    color: gray;
    left: 66%;
    font-size: 14px;
}
#type:hover{
    border: 1px solid rgb(39, 38, 38);
}
#button{
    margin-top: 23px;
    border-radius: 4px;
    padding: 13px 7px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    border: 1px solid transparent;
    text-align: center;
    width: 205px;
    height: 26px;
    color: #fa824c;
    background-color: #ffeecc;
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer;  
}
#bar{
    padding: 3px 0px;
    border: 1px solid;
    position: absolute;
    top: 288px;
    border-radius: 6px;
    width: 226px;
}
#bar div{
    width: 76%;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 10px;
    padding: 11px 16px;
    margin: 8px auto;
    border-radius: 10px;
    border: 1px solid transparent;
    cursor: pointer;
}
#bar div:hover{
    color: blue;
    background: #f2f5ff;
}
h2{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
        margin-bottom: 24px;
}
#container{
    width: 69%;
    border: 1px solid transparent;
    margin: auto;
    gap: 26px;
    display: flex;
    padding-bottom: 20px;
}
#container img{
    width: 220px;
}
#container div{
    display: flex;
    cursor: pointer;
    height: 378px;
    flex-direction: column;
    align-items: center;
    gap: 19px;
}
#container h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    letter-spacing: 1px;
}
#container p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #dee0e8;
}
#footer{
    background-color: #fa824c;
    color: white;
    display: flex;
    text-align: center;
    height: 91px;
    gap: 18px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
ul{
    justify-content: center;
    display: flex;
    gap: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:white ;
    font-family: 'Source Sans Pro', sans-serif;
}
#locations{
    background: white;
    border: 0.8px solid rgb(242, 242, 242);
    border-radius: 4px;
    margin-top: -8px;
    position: absolute;
    top: 293px;
    width: 468px;
}
#locations div{
    font-family: 'Source Sans Pro', sans-serif;
    border: 1px solid transparent;
    padding: 10px;
}
#locations div:hover{
    background-color: #e0e3e7;
}