@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
#container{
    border: 1px solid orange;
    width: 96%;
    margin: -3px auto;
    display: flex;
    
}
#parking{
    border: 1px solid teal;
    width: 50%;
}
a>p{
    color: blue;
    font-family: 'Source Sans Pro', sans-serif;
    border: 1px solid transparent;
    align-items: center;
    width: 67px;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
#parking > h2{
    /* font-family: 'Source Sans Pro', sans-serif; */
    letter-spacing: 4px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-size: 16px;
    color: #aea6b9;
    font-weight: 900;
}
#city{
    margin: -3px 0px 12px 2px;
    font-size: 43px;
    font-weight: 600;
    font-family: "Lato","Helvetica Neue",Arial,Helvetica,sans-serif;
}
#places img{
    width: 110px;
    height: 110px;
    border-radius: 6px;
    margin-top: 7px;
    margin-left: 21px;
}
.place{
    border-bottom: 1px solid #f0f0f8;
    display: flex;
    align-items: center;   
    gap: 20px;
    cursor:pointer;
}
#box{
    display: flex;
    border: 1px solid transparent;
    flex-direction: column;
    justify-content: center;
    
    width: 294px;

    
}
#good{
    border: 1px solid transparent;
    display: flex;
    gap: 10px;
}
#good p:first-child{
    border: 1px solid transparent;
    padding: 5px 9px;
    border-radius: 5px;
    color: blue;
    background: #e3eeff;   
    letter-spacing: 2px;
    font-family: 'Source Sans Pro', sans-serif;
}
.fa-star{
    color: #feeec1;
    margin-right: 11px;

}
#good p:last-child{
    background: #fbbd08;
    padding: 8px 10px 12px 10px;
    font-size: 15px;
    color: white;
    height: 11px;
    border-radius: 5px;
}
#address1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin: 7px 0px;
}
#address2{
    margin: 12px 0px;
    color: rgba(0,0,0,.4);
    font-size: 17px;
    font-weight: 100;
}
#dollar{

}
#rentalType{
    font-size: 25px;
    color: #b0b7d4;
}
#price{
    display: flex;
    gap: 5px;
    position: relative;
    align-items: center;
    bottom: 34px;
    left: 43px;
}
#places{
    height: 458px;
    overflow-y: auto;
}
::-webkit-scrollbar{
    width: 3px;
}
::-webkit-scrollbar-thumb {
    background: #f0f0f8;
    border-radius: 5px; 
  }
  body{
    margin: 0;
  }
  
#footer{
    margin:10px 0px 0px 0px ;
    background-color: #fa824c;
    color: white;
    display: flex;
    text-align: center;
    height: 91px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
ul{
    justify-content: center;
    display: flex;
    gap: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:white ;
    font-family: 'Source Sans Pro', sans-serif;
}
#footer p{
    
    margin-top: 30px;

}

    